.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
    gap: 2rem;
}
.container .card{
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem+2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem violet(0,0,0,0.1);
    border-radius: 1em;
    background: wheat;
    background: linear-gradient(to right, bisque, yellow);
}
div.container, div.card{
    transform: perspective(900px) rotateX(60deg) scale(0.7);
    box-shadow: 0px 20px 100px coral ;
    transition: 0.5s ease all;
}
div.container:hover,div.card:hover{
    transform: rotate(0deg) scale(1) translateY(10px);
}